---
import Image from "astro/components/Image.astro"
import Whatsapp from "../icons/Whatsapp.astro"
import Linkedin from "../icons/Linkedin.astro"
import Github from "../icons/Github.astro"
import Gmail from "../icons/Gmail.astro"
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main>
    <section class="aboutme">
        <div class="aboutme__container">
            <div class="aboutme__image">
                <Image {...{
                    src: "/assets/sample-profile.jpg",
                    alt: "Cristian Dev",
                    width: 1280,
                    height: 720,
                    loading: "eager"
                    }}/>
            </div>
            <div class="aboutme__info">
            <div class="aboutme__header">
                <div class="aboutme__socialmedia">
                    <a class="aboutme__socialmedia__item" href="https://github.com/cami98735264" target="_blank">
                        <Github/>
                    </a>
                    <a class="aboutme__socialmedia__item" href="https://www.linkedin.com/in/cristi%C3%A1n-camilo-rodr%C3%ADguez-montealegre-8a8697272/" target="_blank">
                        <Linkedin/>
                    </a>
                    <a class="aboutme__socialmedia__item" href={`https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=mashlowtm0510@gmail.com&amp;su=${t('emailContact.subject')}&amp;body=${t('emailContact.body')}!`} target="_blank">
                        <Gmail/>
                    </a>
                    <a class="aboutme__socialmedia__item" href={`https://wa.me/573186562061?text=${t('whatsappContact.text')}`} target="_blank">
                        <Whatsapp/>
                    </a>
                </div>
                <hr/>
            </div>
            <div class="aboutme__body__desc">
                <h1 class="aboutme__title">{t('aboutMe.title')}</h1>
            <span class="aboutme__desc">
                {t('aboutMe.description')}
            </span>
            <div class="aboutme__buttons">
                <button>{t('aboutMe.resume')}</button>
                <button>{t('aboutMe.contact')}</button>
            </div>
            </div>

            </div>
        </div>        
    </section>
</main>

<style>
    .aboutme {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100dvh - 100px);
    }
    .aboutme__image img {
        object-fit: cover;
        border-radius: 50px;
        height: 100%;
        width: 100%;   
    }
    .aboutme__image {
        flex: 1 1 calc(100%);
        height: 100%;
    }
    .aboutme__body__desc {
        display: flex;
        flex-direction: column;
        /* polymorfed glassmorphism */
        background: rgb(31, 31, 31);
        padding: 20px;
        border-radius: 10px;
        height: 100%;
        gap: 20px;
    }
    .aboutme__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        width: 70%;
        height: 360px;
        max-width: 1600px;
    }
    .aboutme__info {
        flex: 1 1 calc(100% - 100px);
        display: flex;
        gap: 10px;
        flex-direction: column;
        height: 100%;
    }
    .aboutme__header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .aboutme__title {
        font-size: clamp(0.9rem, 2vw, 1.2rem);
        color: var(--titles);
        font-weight: 400;
        line-height: 1.3;
    }
    .aboutme__socialmedia {
        background: rgb(37, 37, 37);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }

    .aboutme__socialmedia__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: rgb(47, 47, 47);
        border-radius: 10px;
    }
    .aboutme__socialmedia__item * {
        width: 24px;
        height: 24px;
    }
    .aboutme__footer {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }
    hr {

        border: 2px solid #2929298e;
        border-radius: 10px;
    }
    .aboutme__desc {
        height: 100%;
        font-size: clamp(0.7rem, 2vw, 0.8rem);
        color: var(--description);
    }
    .aboutme__buttons {
        display: flex;
        gap: 10px;
    }
    .aboutme__buttons button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        background-color: #5a0684;
        color: white;
        font-size: clamp(0.6rem, 2vw, 0.7rem);
        cursor: pointer;

    }
    @media(width < 1385px) {
        .aboutme__container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
        }
        .aboutme__socialmedia {
            width: 100%;
            justify-content: flex-start;
            gap: 15px;
        }
        .aboutme__image {
            width: 100%;
            height: 50%;
        }
        .aboutme__socialmedia__item {
            padding: 15px;
        }
        .aboutme__socialmedia__item * {
            width: 18px;
            height: 18px;
        }

    }
    @media (width < 641px) {
        .aboutme__title {
            text-align: center;
        }
        .aboutme__container {
            width: 90%;
            flex-direction: column;
            gap: 20px;
            height: auto;
        }
        .aboutme__image {
            width: 100%;
        }
        .aboutme__image img {
            border-radius: 10px;
            height: 130px;
        }
        .aboutme__socialmedia {
            gap: 10px;
            justify-content: space-between;
        }
        .aboutme__socialmedia__item {
            padding: 10px;

        }
        .aboutme__socialmedia__item * {
            width: 24px;
            height: 24px;
        }
        .aboutme__buttons {
            flex-direction: column;
            gap: 10px;
        }
    }

</style>