---
import Project from "../components/Project.astro";
---

<section class="projects__container">
    <Project projectId={1} />
    <Project projectId={2} />
    <Project projectId={3} />
    <Project projectId={4} />
    <Project projectId={5} />
    <Project projectId={6} />
    <Project projectId={7} />


</section>

<style>
.projects__container {
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
</style>
