---
import languages from "../data/languages.js";
const currentLanguage = Astro.url.searchParams.get("lang") === "en" ? "en" : "es";

---


<main class="aboutme__container">
    <div class="profile__icon">
        <img src="/assets/profile_picture.jpg" alt="Cristian's profile picture" />
        <div class="aboutme__social__icons">
            <a href="" class="aboutme__icons">
                <img src="/assets/github-mark-white.png" alt="Github icon" />
            </a>
            <a href="" class="aboutme__icons">
                <img src="/assets/linkedin_icon.webp" alt="Linkedin icon" />
            </a>
            <a href="" class="aboutme__icons">
                <img src="/assets/whatsapp_icon.png" id="whatsapp_icon" alt="Whatsapp icon" />
            </a>
            <a href="" class="aboutme__icons">
                <img src="/assets/gmail_icon.png" id="gmail_icon" alt="Gmail icon" />
            </a>
        </div>
    </div>    <div class="aboutme__social">
        <p>
            {languages[currentLanguage].aboutMe}
        </p>
    </div>
</main>


<style>

    .aboutme__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        margin: 20px;
        flex-wrap: wrap;
        height: 100vh;
    }
    .aboutme__social {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }
    .profile__icon {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .aboutme__social__icons img {
        opacity: 0.7;
        width: 30px;
        height: 30px;
        transition: opacity 0.3s;
    }
    .aboutme__social__icons img:hover {
        opacity: 1;
    }

    
    .aboutme__social__icons {
        /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
        /* align flex to right */
        margin-left: auto;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 8px;
        align-items: center;
        gap: 0;
    }

    img:not(.aboutme__social__icons img) {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
    }
    p {
        font-size: 1.1rem;
        text-align: center;
        color: #c3c1c1;
    }
    @media screen and (max-width: 965px){
        .aboutme__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;            
        }
        .aboutme__social, .profile__icon {
            width: 100%;
        }
    }
</style>