---
import '@fontsource-variable/jost';
const { title } = Astro.props;
let language = Astro.url.searchParams.get('lang') || 'es';
---

<!doctype html>
<html>
	<head lang={language}>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'Jost Variable', sans-serif;
		font-weight: 400;
		color: #bdbdbd;
	}
	body {
		background: linear-gradient(90deg, rgba(6,3,56,1) 0%, rgba(12,12,102,1) 35%, rgba(1,15,18,1) 100%);
	}
	html {
		scroll-behavior: smooth;
	}
	select {
		background: none;
		border: 1px solid #bdbdbd;
		color: #bdbdbd;
		padding: 5px 10px;
		font-size: 1.1rem;
	}

</style>


<script>
	// add an onScroll event listener to change the navbar background color
	window.addEventListener('scroll', () => {
		const navbar = document.querySelector('.navbar');
		if (window.scrollY > 50) {
			navbar.style.backgroundColor = 'rgba(8, 4, 68, 0.9)';
		} else {
			navbar.style.backgroundColor = 'transparent';
		}
	});
</script>